body{
    background-image: url("https://i.pinimg.com/564x/98/ba/a5/98baa50f327c66834b35fa6570e6da07.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0px;
}
style{
    font-family: 'Roboto Slab';
    color: white;
    text-align: center;
}